* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #3498db;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main .sidebar{
    background-color: #2ecc71;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    display: flex;
    flex-grow: 2;
    margin-right: 10px;
    height: 500px;
}
.main .content{
    background-color: #e74c3c;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    flex-grow: 8;
    height: 500px;
}
footer{
    background-color: #9b59b6;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

