body {
    font-family: Arial, sans-serif;
    background-color:rgba(249, 248, 248, 0.979)
}

button {
    color: white;
    background-color:dodgerblue;
    border: 0;
    border-radius: 5px;
    padding: 15px 100px;
    max-width: 600px;
}