* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.center  {
    border: 10px;
    height: 400px;
    width: 600px;
    background-color: #f0f0f0;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.center div{
    border: none;
    background-color: #3498db;
    width: 100px;
    text-align: center;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}